<div class="app-select" [class.app-select--disabled]="disabled">
  <label *ngIf="label" class="app-select__label" [for]="selectId">{{
    label
  }}</label>

  <div class="app-select__field">
    <ion-select
      [id]="selectId"
      [value]="value"
      [disabled]="disabled"
      [placeholder]="placeholder"
      interface="action-sheet"
      [attr.aria-invalid]="errorMessage ? true : null"
      [attr.aria-describedby]="errorMessage ? selectId + '-error' : null"
      (ionChange)="onSelectionChange($event)"
      (ionBlur)="onBlur()"
    >
      <ion-select-option
        *ngFor="let opt of options"
        [value]="opt.value"
        [disabled]="opt.disabled || false"
      >
        {{ opt.label }}
      </ion-select-option>
    </ion-select>
  </div>

  <p
    *ngIf="errorMessage"
    class="app-select__error"
    role="alert"
    [id]="selectId + '-error'"
  >
    {{ errorMessage }}
  </p>
</div>
