<div class="app-select" [class.app-select--disabled]="disabled">
  <label *ngIf="label" class="app-select__label" [for]="selectId">{{
    label
  }}</label>

  <select
    class="app-select__control"
    [id]="selectId"
    [disabled]="disabled"
    [attr.placeholder]="placeholder"
    [attr.aria-invalid]="errorMessage ? true : null"
    [attr.aria-describedby]="errorMessage ? selectId + '-error' : null"
    (change)="onSelectionChange($any($event.target).value)"
    (blur)="onBlur()"
  >
    <option
      *ngFor="let opt of options"
      [value]="opt.value"
      [disabled]="opt.disabled || false"
      [selected]="opt.value.toString() === value?.toString()"
    >
      {{ opt.label }}
    </option>
  </select>

  <p
    *ngIf="errorMessage"
    class="app-select__error"
    role="alert"
    [id]="selectId + '-error'"
  >
    {{ errorMessage }}
  </p>
</div>
