@use "../../../../theme/variables.scss" as v;

.primary {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  --background: var(--ion-color-primary);
  --color: #fff;
  --border-radius: 40px;
}

.primary.disabled {
  background: v.$primary-disabled-color;
}

.secondary {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  --background: #fff;
  color: v.$gray-text-color;
  --border-radius: 40px;
  --border-color: var(--ion-color-primary);
  --border-width: 1px;
  --border-style: solid;
  & .ion-activated {
    --background: #6a99e6;
    --color: #fff;
  }
}

.icon-left {
  margin-right: 0.5em;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}
