<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to AutoLog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <img
      src="assets/icon/favicon.png"
      alt="AutoLog Logo"
      class="welcome-logo"
    />
    <h1>Welcome!</h1>
    <p>
      Thank you for using AutoLog.<br />
      Get started by exploring the app features from the menu.
    </p>
    <ion-button [routerLink]="'/tabs/tab1'" expand="block"
      >Go to Dashboard</ion-button
    >
  </div>
</ion-content>
