// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$primary-color: #306fd3;
$text-color: #070707;
$gray-text-color: #73747a;
$bg-gray-color: #f3f3f8;
$body-color: #333333;
$primary-disabled-color: #6a99e6;
$input-fill-color: #f4f5fc;
$input-text-color: #1b223a;
