<div class="login-page">
  <!-- Title -->
  <div class="title-section">
    <h1 class="page-title">Log<span class="text-primary">in</span></h1>
  </div>

  <!-- Form -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-section">
    <div class="form-group">
      <app-input
        [formControl]="emailControl!"
        type="email"
        placeholder="mechanic@taller.com"
        label="Email"
        [errorMessage]="
          emailControl?.touched && emailControl?.hasError('required')
            ? 'Email is required'
            : emailControl?.touched && emailControl?.hasError('email')
              ? 'Enter a valid email'
              : undefined
        "
      ></app-input>
    </div>

    <div class="form-group">
      <app-input
        [formControl]="passwordControl!"
        type="password"
        placeholder="••••••••••••••"
        label="Password"
        [errorMessage]="
          passwordControl?.touched && passwordControl?.hasError('required')
            ? 'Password is required'
            : passwordControl?.touched && passwordControl?.hasError('minlength')
              ? 'Password must be at least 8 characters'
              : undefined
        "
      ></app-input>
    </div>

    <a
      href="javascript:void(0)"
      (click)="navigateToForgotPassword()"
      class="forgot-link"
    >
      Forgot password
    </a>

    <!-- Error Message -->
    @if (errorMessage) {
    <div class="error-alert">{{ errorMessage }}</div>
    }

    <!-- Submit Button -->
    <div class="button-section">
      <app-button
        variant="primary"
        type="submit"
        [fullWidth]="true"
        [disabled]="!loginForm.valid || isLoading"
      >
        Next
      </app-button>
    </div>
  </form>

  <!-- Footer -->
  <p class="footer-text">
    Doesn't have an account?
    <a
      href="javascript:void(0)"
      (click)="navigateToSignUp()"
      class="signup-link"
    >
      Sign up
    </a>
  </p>
</div>
