<ion-content fullscreen [scrollY]="false">
  <ion-grid class="center">
    <ion-row>
      <ion-col size="12">
        <h2 class="title">
          {{ 'auth.welcome' | translate }}<span class="text-blue"
            >{{ 'auth.welcomeHighlight' | translate }}</span
          >
        </h2>
        <p class="subtitle">{{ 'auth.welcomeSubtitle' | translate }}</p>
        @for (userType of userTypes; track userType.id) {
        <div
          class="role-card"
          [class.selected]="selectedType === userType.id"
          (click)="selectUserType(userType)"
        >
          <div
            class="role-icon"
            [class.icon-selected]="selectedType === userType.id"
          >
            <lucide-angular [img]="userType.icon" [size]="24"></lucide-angular>
          </div>
          <div class="role-info">
            <h4>{{ userType.titleKey | translate }}</h4>
            <p>{{ userType.descriptionKey | translate }}</p>
          </div>
        </div>
        }
      </ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col size="12">
        <app-button
          variant="primary"
          [fullWidth]="true"
          [disabled]="!selectedType"
          (clicked)="navigateNext()"
        >
          {{ 'auth.continue' | translate }}
        </app-button>
        <p>
          {{ 'auth.alreadyHaveAccount' | translate }}
          <span class="link" (click)="navigateToLogin()"
            >{{ 'auth.login' | translate }}</span
          >
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
