@use "../../../../theme/variables.scss" as v;

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2 {
  text-align: center;
  margin: 12px 0 48px 0;
}
.input-row {
  max-width: 80%;
}
.bottom-margin {
  display: block;
  margin-bottom: 19px;
}
ion-button {
  margin: 12px 0;
}

.forgot-password-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: v.$primary-color;
  margin-top: 0.25rem;
}

.button-row {
  margin: 100px auto auto auto;
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  p {
    text-align: center;
    color: v.$body-color;
    font-weight: 500;
    font-size: 14px;
  }
}



@media screen and (max-width: 575px) {
  .button-row {
    width: 80%;
  }
}

@media screen and (min-width: 576px) {
  .button-row {
    min-width: 300px;
    max-width: 30%;
  }
}
