<ion-content fullscreen [scrollY]="false">
  <a (click)="goBack()" class="back-button">
    <lucide-angular
      [img]="ChevronLeftIcon"
      class="back-button-icon"
      [size]="24"
    ></lucide-angular>
  </a>
  <ion-grid class="center features-grid">
    <ion-row>
      <ion-col size="12">
        <h2 class="title">
          {{ 'auth.welcome' | translate }}<span class="text-blue"
            >{{ 'auth.welcomeHighlight' | translate }}</span
          >
        </h2>
        <p class="subtitle">{{ 'auth.featuresSubtitle' | translate }}</p>
        <div class="card-list">
          @for (feature of features; track feature.titleKey) {
          <div class="feature-card">
            <div class="feature-icon">
              <lucide-angular [img]="feature.icon" [size]="24"></lucide-angular>
            </div>
            <div class="feature-content">
              <h4>{{ feature.titleKey | translate }}</h4>
              <p>{{ feature.descriptionKey | translate }}</p>
            </div>
          </div>
          }
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col size="12">
        <app-button
          variant="primary"
          [fullWidth]="true"
          (clicked)="navigateToSignUp()"
        >
          {{ 'auth.register' | translate }}
        </app-button>
        <p>
          {{ 'auth.alreadyHaveAccount' | translate }}
          <span class="link" (click)="navigateToLogin()"
            >{{ 'auth.login' | translate }}</span
          >
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
