@use "theme/variables.scss" as v;

/* Import Montserrat and Inter from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;700&display=swap");

/* Set Inter as the default font */
body,
html,
ion-app,
ion-content {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Utility class for Montserrat font */
.font-montserrat {
  font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
}

:root {
  --ion-font-family: "Inter", Arial, Helvetica, sans-serif;

  --ion-font-family-ios: var(--ion-font-family);
  --ion-font-family-md: var(--ion-font-family);
}

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.title {
  font-size: 24px;
  font-weight: 700;
  color: v.$text-color;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  color: v.$gray-text-color;
}

.text-blue {
  color: v.$primary-color;
}

.link {
  color: v.$primary-color;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.back-button {
  color: #000000;
  padding: 1rem 0 0 0.8rem;
  display: block;
  width: fit-content;
}
